name: Version
on:
  workflow_run:
    workflows: [CI]
    branches: [main]
    types: [completed]

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  version:
    if: ${{github.event.workflow_run.conclusion == 'success'}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup
        uses: ./.github/setup

      - name: Create Release Pull Request
        id: changesets
        uses: changesets/action@v1
        with:
          version: bun changeset version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
